/*Navbar*/
.navbar{
	position: relative;
	z-index: 1;
}

.navbar-brand {
	color:black !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	font-family: Viga;
	font-size: 32px;
}
.nav-link {
	text-transform: uppercase;
	color:black !important;
	margin-right: 30px;
}

.nav-link:hover::after{
	content:'';
	display: block;
	border-bottom: 3px solid #0B63DC;
	width: 50%;
	margin:auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}

.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}

/*Jumbotron*/
.jumbotron {
	background-image: url(/static/img/home2.jpg);
	background-size: cover;
	height: 640px;
	margin-top: -75px;
	text-align: center;
	position: relative;
}
.jumbotron .container{
	z-index: 1;
	position: relative;
}
/*
.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height: 80%;
	background-image: linier-gradient(to top,rgba(0,0,0,1) rgba(0,0,0,0))
	position: absolute;
	bottom: 0;
}*/

.jumbotron .display-4{
	margin-top: 190px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	margin-bottom: 20px;
}

.jumbotron .display-4 span{
	font-weight: 500;
}
